<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Servlet_Pro1</display-name>
  
  <!-- 全局的参数，任何一个servlet类都可以获取 -->
  <context-param>
  	<param-name>url</param-name>
  	<param-value>jdbc:mysql://localhost:3306/java_web</param-value>
  </context-param>
  
  <servlet>
  
  	<servlet-name>basic</servlet-name>
  	<servlet-class>com.my.demo2.BasicServlet</servlet-class>
  	
  	<!-- 初始化参数,局部的参数 -->
  	<init-param>
  		<param-name>username</param-name>
  		<param-value>zhangsan</param-value>
  	</init-param>
  	
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>basic</servlet-name>
  	<url-pattern>/servlet/basic</url-pattern>
  </servlet-mapping>
  
  
</web-app>